name: Build and Push Docker Image

on:
  push:
    branches: [main]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run pylint
      run: |
        pip install pylint
        pylint ./app --fail-under=8.5

    - name: Run Tests and Calculate Coverage
      run: |
        export FLASK_ENV=testing
        pip install pytest pytest-cov
        pytest -c pytest.ini --cov --cov-fail-under=85

    - name: Build and push the Docker image
      uses: mr-smithers-excellent/docker-build-push@v6
      with:
        image: munuhee/order-service
        tags: v1, latest
        registry: docker.io
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
